*{
  font-family: 'Fira Mono' sans-serif monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #141C2F;
}

a{
  text-decoration: none;
  color: #E0E0E0;
  transition: 0.5s;
}

a:hover{
  color: #1F2A48;
}